<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO related -->
    <title>Legal ChatBot</title>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Vendor CSS & Style Files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="container">
        <div class="row padded_row">
            <!-- Chat Window -->
            <div class="col-md-7">
                <div class="chat_window">
                    <div class="top_menu">
                        <div class="title">Legal ChatBot</div>
                    </div>
                    <ul class="messages"></ul>
                    <div class="typing_indicator" style="display:none;">Bot is typing...</div>
                    <div class="bottom_wrapper">
                        <input id="msg_input" placeholder="Say Hi to begin chat..." />
                        <button id="mic_button" class="mic_button" title="Start Voice Input">
                            <i class="fa fa-microphone"></i>
                        </button>
                        <div id="send_button" class="app_button_1">Send</div>
                    </div>
                </div>
            </div>

            <!-- Help Section -->
            <div class="col-md-5">
                <div class="chat_window">
                    <div class="top_menu">
                        <div class="title">Help</div>
                    </div>
                    <div class="panel-group" id="accordion">
                        <!-- Help - 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">How to Use</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Just type or speak your questions regarding legal articles and cases and hit "Send". For example, ask about "Article 1" or "Details of case 12345".
                                </div>
                            </div>
                        </div>

                        <!-- Help - 2 -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Common Questions</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    You can ask questions like "What is Article 2A?" or "Explain Article 44" for articles, and "Details of case 2022001" for cases.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Voiceflow Integration Script -->
    <script type="text/javascript">
        (function(d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function() {
                window.voiceflow.chat.load({
                    verify: { projectID: '66f43ff6220e8fe89994fdd9' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: 'production'
                });
            }
            v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');
    </script>

    <!-- Vendor Script Files -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Custom Scripts -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <script type="text/javascript">
        (function(d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function() {
              window.voiceflow.chat.load({
                verify: { projectID: '66f43ff6220e8fe89994fdd9' },
                url: 'https://general-runtime.voiceflow.com',
                versionID: 'production'
              });
            }
            v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');
      </script>
</body>

</html>
